.rcorners {
    border-radius: 25px;
    /*background: url(paper.gif);*/
    border: 2px solid #73AD21;
    background-position: left top;
    background-repeat: repeat;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 20px; 
    width: 200px;
    height: 150px;  
    float: left;
  }

  .example-card {
    width: 150px;
    height: 320px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
  }

  .mat-card-image{
    width: 180px;
    height: 240px;
  }

  .example-header-image {
    /*background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');*/
    background-size: cover;
  }